<% if !@portrait.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @portrait.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
		  <%= form_for @portrait, html: { multipart: true } do |f| %>
					 <% @gallery.each do |g| %>
			         <%= f.text_field :gallery_id, :value => g.id %>
			 <% end %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment%>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
